<div class="next-events recent-pubs">
  <h2>{% if page.lang == "fr" %}Publications récentes{% else %}Recent Publications{% endif %}</h2>
  <ul>
    <li>
      <span class="event-date">2026</span>
      <span class="event-desc">
        <a href="https://mimesisinternational.com/humans-temporary-absolutes-existential-self-experiments-and-a-new-programme-for-anthropology/">Reverberations. Albert Piette's Anthropology of Separation [foreword]</a>
        <span class="event-location">in <em>Humans, Temporary Absolutes</em></span>
      </span>
    </li>
    <li>
      <span class="event-date">2026</span>
      <span class="event-desc">
        <a href="https://www.editionsepisteme.org/produit/60/9782889157099/experience-et-verite-s">Démocratie et (post-)vérité : le dilemme de Hans Kelsen</a>
        <span class="event-location">in <em>Expérience et vérité</em></span>
      </span>
    </li>
    <li>
      <span class="event-date">2026</span>
      <span class="event-desc">
        <a href="https://doi.org/10.4000/16fe0">Philosophie, croyance, démocratie</a>
        <span class="event-location">in <em>Athènes et Jérusalem face à la naissance de la philosophie</em></span>
      </span>
    </li>
    <li>
      <span class="event-date">2025</span>
      <span class="event-desc">
        <a href="https://editions.univ-lorraine.fr/edul/catalog/book/b9782384511822">Du beau, du bon, du vrai, du Pouivet. Mélanges pour Roger Pouivet</a>
        <span class="event-location">EDUL</span>
      </span>
    </li>
  </ul>
</div>
