<div class="next-events recent-pubs">
  <h2>{% if page.lang == "fr" %}Publications récentes{% else %}Recent Publications{% endif %}</h2>
  <ul>
    <li>
      <span class="event-date">2026</span>
      <span class="event-desc">
        {% if page.lang == "fr" %}Reverberations. Albert Piette's Anthropology of Separation{% else %}Reverberations. Albert Piette's Anthropology of Separation{% endif %}
        <span class="event-location">in <em>Humans, Temporary Absolutes</em></span>
      </span>
    </li>
    <li>
      <span class="event-date">2026</span>
      <span class="event-desc">
        <a href="https://doi.org/10.4000/16fe0">{% if page.lang == "fr" %}Philosophie, croyance, démocratie{% else %}Philosophy, Belief, Democracy{% endif %}</a>
        <span class="event-location">in <em>Athène et Jérusalem face à la naissance de la philosophie</em></span>
      </span>
    </li>
    <li>
      <span class="event-date">2025</span>
      <span class="event-desc">
        <a href="https://editions.univ-lorraine.fr/edul/catalog/book/b9782384511822">{% if page.lang == "fr" %}Du beau, du bon, du vrai, du Pouivet. Mélanges pour Roger Pouivet{% else %}On Beauty, on Goodness, on Truth, on Pouivet. Collected Essays in Honor of Roger Pouivet{% endif %}</a>
        <span class="event-location">EDUL</span>
      </span>
    </li>
    <li>
      <span class="event-date">2025</span>
      <span class="event-desc">
        <a href="https://shs.cairn.info/revue-etudes-2025-1-page-71?lang=fr">{% if page.lang == "fr" %}Jürgen Moltmann, théologien de l'avenir{% else %}Jürgen Moltmann, Theologian of the Future{% endif %}</a>
        <span class="event-location"><em>Études</em></span>
      </span>
    </li>
  </ul>
</div>
