.logos-footer img {
  max-width: none !important;
  height: auto !important;
}

.logos-footer td:first-child img {
  max-width: 200px !important;
}

.logos-footer td:last-child img {
  max-width: 250px !important;
}
