.logos-footer {
  display: flex !important;
  justify-content: space-between !important;
  align-items: center !important;
  width: 100% !important;
  margin-top: 60px;

  img {
    width: 200px !important;
    max-width: 200px !important;
    height: auto !important;
  }
}
